<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    
</head>
<body>
    <div class="container">
        <h1>Welcome to File And Upload Managment</h1>
        <ul>
            <li><a href="upload.html">single Files</a></li>
            <li><a href="upload-multiple.html"> Multiple Files</a></li>
            <li><a href="fetch-image.html">Fetch a Random File</a></li>
            <li><a href="random-gallery.html">Fetch a Multiple Random Files</a></li>
            <li><a href="gallery-pagination.html"> Pagination</a></li>
            <li><a href="gallery.html">View all File</a></li>

        </ul>
    </div>
</body>
</html>
